body {
  margin: 0;
  padding: 0;
  font-family: "Cardo", serif;
  background-color: #3e1c23;
  color: #f5eee6;
  font-size: 1.2rem;
}

.container {
  width: 400px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  text-align: center;
}

h1 {
  font-size: 1.6rem;
}

h2,
h3 {
  font-size: 1.3rem;
}

p {
  text-align: center;
}

.flex-content {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #623438;
  margin: 5px 0;
  border-radius: 5px;
}

.bold {
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  text-shadow: 0px 0px 1.5px black;
}

img {
  width: 45px;
  padding: 4px;
}

/* Modal */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #2a1117;
  color: #ffffff;
  width: 350px;
  height: 500px;
  border-radius: 5px;
}

.modal-close-btn-container {
  text-align: right;
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 9px;
}

.modal-close-btn:hover {
  opacity: 0.33;
  /* cursor: pointer; */
  cursor: not-allowed;
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.modal-header {
  font-family: "Cardo", serif;
  font-size: 1.2rem;
}

.modal-p {
  font-size: 1rem;
  text-align: center;
  padding: 0 25px;
}

/* Form */

input {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 7px;
}

input[type="text"],
input[type="email"] {
  font-family: "Cardo", serif;
  font-weight: bold;
}

input::placeholder {
  color: #2a1117;
}

.modal-choice-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.modal-btn {
  padding: 8px 25px;
  cursor: pointer;
  font-family: "Cardo", serif;
  font-weight: bold;
}
